#header{
    display: flex;
    justify-content: center;
    height: 95px;
    align-items: center;
    background-color: rgb(44, 74, 175);
    border: 2px solid black;
    color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}

body{
    background-image: url(https://media.istockphoto.com/photos/clouds-on-sky-picture-id184103864?b=1&k=20&m=184103864&s=170667a&w=0&h=ZngznsmOs4gnb0bRP13q5RFXY-cv-BHZJNjJXb6ffyk=);
    background-repeat: no-repeat;
    background-size: cover;
}

#citySearch{
    margin: 25px;
    color: black;
}

#searchBar{
    margin-left: 20px;
}

.history {
    display: flex;
    flex-direction: column;
    width: 228px;
    min-width: 228px;
    border: 5px solid rgb(44, 74, 175);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    min-height: 300px;
}
.searchHistory{
    display: flex;
    justify-content: center;
    margin: 8px;
}
.cityName{
    /* max-height: 545px; */
    width: auto;
    min-width: 215px;
    border: 5px solid rgb(44, 74, 175);
    border-radius: 10px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.sideButtons{
    display: flex;    

} 

.forecast{
    width: 100%;
    
    border: 5px solid rgb(44, 74, 175);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}

#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
    
}   


.uvIndexColor{
    /* height: 15px; */
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;


}
.uvBox{
    width: 45px;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}